{% extends "base/base.html" %}
{% load static %}

{% block 'link'%}
        <link href='{% static 'css/style.css' %}' rel='stylesheet'>
{% endblock %}

{% block 'home'%}
<a href="{% url 'home' %}">
    Home
</a>
{% endblock %}
{% block 'content' %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            {% if post.author.profile %}
            <a class="mr-2 author-link" href="{% url 'profile-detail' post.author.profile.slug %}">{{ post.author }}</a>
            {% else %}
            <a class="mr-2 author-link" href="#">{{ post.author }}</a>
            {% endif %}
            <small class="text-muted">{{ post.published_at }}</small>
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content|linebreaks }}</p>
        {% if user == post.author %}
        <div class="btn-group">
            <a href="{% url 'post-update' pk=post.pk %}" class="btn btn-primary">Update</a>
            <a href="{% url 'post-delete' pk=post.pk %}" class="btn btn-danger">Delete</a>
        </div>
        {% endif %}
        <div class="comments-section">
            <h3>Comments</h3>
            {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.author }}</strong>:</p>
                <p>{{ comment.content }}</p>
                <p><small>{{ comment.created_at }}</small></p>
            </div>
            {% endfor %}
        </div>
        <div class="comment-form">
            <h3>Leave a Comment</h3>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</article>
{% endblock %}