{% load static %}
<!DOCTYPE html>
<html lang='en' class='h-100'>
    <head>
        <meta charset= 'UTF-8'>
        <meta name= 'veiwport' content='width=device-width, initial-scale=1.0'>
        <meta name='author' content='Olagunju Matthew'>
        <meta name='description' content='A blog post to learn new things'>
        <meta name='keywords' content=''>
        <meta name='theme-colour' content='#669900'>
        {% block 'title' %}
        <title>Blogify. Never run out of ideas.</title>
        {% endblock %}
        <link href='{% static 'css/bootstrap.min.css' %}' rel='stylesheet'>
        {% block 'link'%}
        <link href='{% static 'css/style.css' %}' rel='stylesheet'>
        {% endblock %}
    </head>
    <body>
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-dismissible alert-{{message.tags}}" {% endif %}>
            {{message}}-
            {{message.tags}}
        </div>
        {% endfor %}
        {% endif %}
        {% block 'body' %}
        <div>
            <header class="navbar">
                <div class="logo">
                    <b>
                        Blogify
                    </b>
                </div>
                <nav class="nav-links">
                    {% block 'home'%}
                    {% endblock %}
                    <a href="{% url 'profile' %}">
                        Profile
                    </a>
                    <a href="{% url 'post-create'%}">
                        Write
                    </a>
                    <button type="button" class="btn btn-outline-danger">
                        <a href='{% url 'logout' %}'>Logout</a>
                    </button>
                </nav>
            </header>
        </div>
        {% endblock %}
        {% block 'content' %}
        {% endblock %}
    </body>
    {% block  'footer'%}
    <footer class="footer text-muted bg-dark py-5">
        <p style='text-align: center;'>&copy; {% now 'Y' %} Blogify. All rights reserved. 
            Powered by <a href= https://www.djangoproject.com/>Django</a></p>
    </footer>
    {% endblock %}
</html>