{% extends 'base/base.html' %}
{% load static %}

{% block 'link' %}
<link href='{% static 'css/login_style.css' %}' rel='stylesheet'>
{% endblock %}

{% block 'body' %}
<div class="container logo">
    <header class="navbar">
        <a class="navbar-brand" href="#">
            Blogify
        </a>
    </header>
</div>
<div class="login-container">
        <h2>Login</h2>
        <form action= '' method= 'post'>
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Don't Have an Account? <a href="{% url 'register' %}">Sign Up</a></small>
        </div>
</div>
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block 'footer' %}
<footer class="footer text-muted py-5">
<div class="footer-bottom">
    <p style="text-align: center;">Powered by <a href= https://www.djangoproject.com/>Django</a></p>
    <p>&copy; 2024 Blogify. All rights reserved.</p>
</div>
</footer>
{% endblock %}