{% extends 'base/base.html' %}

{% block 'home'%}
<a href="{% url 'home' %}">
    Home
</a>
{% endblock %}


{% block 'content' %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ profile.image.url }}" alt="Profile Image">
                <div class="card-body">
                    <h4>{{ profile.user.username }}</h4>
                    <p class="card-text">{{ profile.bio }}</p>
                    {% if request.user == profile.user %}
                        <a href="{% url 'profile' %}" class="btn btn-primary">Edit Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}