.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 0 20px;
    background-color: #d9e2f2; 
    border-bottom: 1px solid #547dc4; 
    height: 30px; 
    width: 100%;
}

.logo {
    font-size: 24px; 
    font-weight: bold;
    color: #547dc4; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d9e2f2;
}

.login-container {
    background-color: #ccddff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input[type="submit"] {
    width: 100%;
}