
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #d9e2f2; 
    border-bottom: 1px solid #547dc4; 
    height: 60px; 
}

.logo {
    font-size: 24px; 
    font-weight: bold;
    color: #547dc4; 
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #547dc4; /* Text color */
    text-decoration: none;
    margin-left: 20px; 
    margin-right: 15px;
    font-size: 16px; 
}

.nav-links button {
    margin-right: 15px; 
}

.nav-links a:last-child, .nav-links button:last-child {
    margin-right: 0;
}

.color-section {
    padding: 20px;
    color: #274372; /* Text color */
    text-align: left; /* Center text */
    font-size: 18px; /* Font size */
}

.section1 {
    background-color: #ccddff; 
}

.section2 {
    background-color:rgb(128, 170, 255);
}

.section3 {
    background-color: #6699ff; 
}

h1 {
    font-size: 79.5px; 
}



@keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Applying the animation */
.animated-text {
    animation: slide-up-fade-in 2.5s ease-out;
    animation-delay: 1s;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, textarea {
    text-transform: none 
}

.rounded {
    border-radius: 50px;  
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.content-section {
    margin-bottom: 40px; 
}

.content-section {
    background-color: rgb(217, 226, 242);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.article-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.article-content {
    font-size: 16px;
    line-height: 1.6;
}

.author-link {
    font-weight: bold;
    color: #007bff;
}

.card {
    width: 98vw;
    border-radius: 30px;
    background: #d9e2f2;
    box-shadow: 7.5px 7.5px 15px #4c6fad,
                -7.5px -7.5px 15px #4c6fad;
   }
   
   